In [1]:
### Importing the library
import os
os.chdir("D:\\DataScienceLU\\statsexcercise")
os.getcwd()

'D:\\DataScienceLU\\statsexcercise'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
dataset = pd.read_csv("Social_Network_Ads.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
# purchased is dependent variable
dataset.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
dataset.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [11]:
x = dataset.iloc[:,2:4].values

In [12]:
y = dataset.iloc[:,-1]

In [13]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [14]:
#now do feature scaling is required as there are huge difference in both the variables ie age and salary
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
x = scalar.fit_transform(x)

In [16]:
# Split the data into training and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=100)

In [17]:

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_train.shape)

(320, 2)
(80, 2)
(320,)
(320,)

In [18]:
#generalised linear model or logistic regression model 
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [19]:
#predict model with test data set
y_pred = model.predict(x_test)

In [20]:
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [21]:
#evaluate the model
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [22]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.94      0.87        49
           1       0.87      0.65      0.74        31

    accuracy                           0.82        80
   macro avg       0.84      0.79      0.80        80
weighted avg       0.83      0.82      0.82        80

In [23]:
confusion_matrix(y_test, y_pred)

array([[46,  3],
       [11, 20]], dtype=int64)

In [24]:
(46+20)/80

0.825

In [28]:
from sklearn.metrics import roc_auc_score

In [29]:
logistic_roc_aoc_score = roc_auc_score(y_test,y_pred)

In [30]:
logistic_roc_aoc_score

0.7919684002633312

In [ ]:
#Accuracy is 79.19